<template name="themetwo">
  {{#each personal}}
    <div class="details_theme">
      <p><span>{{FirstName}} {{LastName}}</span> <br>
      {{HouseNo}} {{AddressLine}}, {{Postcode}} <br>
      {{Email}}<br>
      {{Phone}}</p>
    </div>
    <div class="about_theme">
      <p class="heading">About</p>
      <p class="normal">{{About}}</p>
    </div>
  {{/each}}
    <div class="education_theme">
      <p class="heading">Education</p>
      {{#each education}}
        <div class="seperate_ed">
          <span class="school">{{School}}</span><br>
          <span class="course">{{Course}}</span> {{Start}} - {{End}}<br>
          {{Description}}<br><br>
          Grades: {{Predicted}}
        </div>
      {{/each}}
      <div class="clear"></div>
    </div>
    <div class="skills_theme">
      <p class="heading">Key Skills</p>
      <ul>
        {{#each skills}}
            <li>&#8226; {{Title}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="experience_theme">
        <p class="heading">Experience</p>
        {{#each work}}
          <p class="normal">
            <span class="company">{{Company}}</span> <br>
            {{Title}} <span class="date">{{Start}} - {{End}}</span><br>
            {{Description}}
          </p>
        {{/each}}
    </div>
    <div class="interest_theme">
      <p class="heading">Interest & Hobbies</p>
      <p class="normal">
        {{#each personal}}
          {{InterestHobbies}}
        {{/each}}
      </p>
    </div>
    <div class="references_theme">
      <p class="heading">References</p>
      {{#each references}}
        {{#if equals Ref 'References available upon request.'}}
        <div class="seperate_ref">
          <p>References available upon request</p>
        </div>
        {{/if}}
        {{#if equals Ref ''}}
          <div class="seperate_ref">
            <p>
              <span class="type">{{Type}} Reference</span><br>
              <span class="name">{{Name}}</span><br>
              {{Job}}<br>
              {{Company}}<br>
              {{Phone}}<br>
              {{Email}}<br>
            </p>
          </div>
        {{/if}}
      {{/each}}
      <div class="clear"></div>
    </div>
</template>
