<head>
  <title>CV-BLDR | The easy to use CV building application</title>
</head>

<!-- <body>
  <h1>CV-BLDR!</h1>
</body> -->

<template name="main">
  {{> yield}}
</template>



<template name="cv">
  {{>basichead}}
</template>
