<template name="education">
  {{>basichead}}
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="text-top">
          <h3>Enter your education</h3>
          <p>Enter the details for any formal education you <br>
have recieved, high school, college & university.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <span id="tips">
          This information will be at the top of your CV, make sure your about section is short but informative. Use this area to show employers your career goals and what you are doing to pursue the career of your dreams.
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <div class="box">
          <h3>Education</h3>
          <p class="half left">
            <label for="course">Course Name</label>
            <input type="text" name="course" id="course" required>
          </p>
          <p class="half right">
            <label for="school">School Name</label>
            <input type="text" name="school" id="school" required>
          </p>
          <p class="half left">
            <label for="start">Start Date</label>
            <input type="text" name="start" id="start" placeholder="dd/mm/yyyy" required>
          </p>
          <p class="half right">
            <label for="end">End Date</label>
            <input type="text" name="end" id="end" placeholder="dd/mm/yyyy" required>
          </p>
          <p class="full">
            <label for="edudesc">Description</label>
            <textarea name="edudesc" id="edudesc" rows="10" cols="70" maxlength="300" required></textarea>
            <p class="characters">Characters left <span id="counta"></span></p>
          </p>
          <p class="full">
            <label for="predgrades">Predicted/Actual Grades</label>
            <input type="text" name="predgrades" id="predgrades" required>
          </p>
          <input type="submit" value="add education" id="addexp" class="inner-button">
          <div class="clear"></div>
        </div>
      </div>
      <div class="col-lg-4 col-lg-offset-1">
        <div class="sidebar">
          <ul class="side-list">
            {{#each education}}
              <li>{{School}}</li>
            {{/each}}
          </ul>
          <input type="submit" value="continue" id="continue">
        </div>
      </div>
    </div>
    {{>stepcount}}
    {{>remlogout}}
    {{>back}}
  </div>

</template>
