<template name="back">
  <div class="row bottom_back">
    <div class="col-lg-2 col-lg-offset-5">
      <a href="#" id="back">← go back</a>
    </div>
  </div>
</template>

<template name="experience">
  {{>basichead}}
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="text-top">
          <h3>Enter your work experience</h3>
          <p>Enter your work experience so future employers can<br>
see exactly how much professional experience you have.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <span id="tips">
          Employers love candidates with a experience in a professional work place, use the description box to describe your role and the importance you had on the company you worked for. Ofcourse if you do not have any work experience feel free to skip this part of the process.
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <div class="box">
          <h3>Work Experience</h3>
          <p class="half left">
            <label for="jobtitle">Job Title</label>
            <input type="text" name="jobtitle" id="jobtitle" required>
          </p>
          <p class="half right">
            <label for="company">Company</label>
            <input type="text" name="company" id="company" required>
          </p>
          <p class="half left">
            <label for="start">Start Date</label>
            <input type="text" name="start" id="start" placeholder="dd/mm/yyyy" required>
          </p>
          <p class="half right">
            <label for="end">End Date</label>
            <input type="text" name="end" id="end" placeholder="dd/mm/yyyy" required>
          </p>
          <p class="full">
            <label for="jobdesc">Job Description</label>
            <textarea name="jobdesc" id="jobdesc" rows="10" cols="70" maxlength="500" required></textarea>
            <p class="characters">Characters left <span id="counta"></span></p>
          </p>
          <input type="submit" value="add experience" id="addexp" class="inner-button">
          <div class="clear"></div>
        </div>
      </div>
      <div class="col-lg-4 col-lg-offset-1">
        <div class="sidebar">
          <ul class="side-list">
            {{#each work}}
              <li>{{Company}}</li>
            {{/each}}
          </ul>
          <input type="submit" value="continue" id="continue">
        </div>
      </div>
    </div>
    {{>stepcount}}
    {{>remlogout}}
    {{>back}}
  </div>

</template>
