<template name="final">
  {{>basichead}}
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="text-top">
          <h3>Here's your CV!</h3>
          <p>Good job! It looks great.<br>
          We think your CV is ready to be shown off to potential employers.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="box">
          <h3>Your CV!</h3>
          <p>You can download your CV as a PDF or share it by generating a link below.</p>
          <a href="#" id="download">Download CV PDF</a>
          <a href="#" id="share">Share CV</a>
          <p class="full">
            <label for="link">Share this link</label>
            <input type="text" name="" id="link">
          </p>
          <a href="#" id="home" class="logout">logout & return to home</a>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="print">
    <div id="print_inner">
      <page size="A4" id="" class="{{#each theme}}{{Theme}}{{/each}}">
        {{#each theme}}
          {{#if equals Theme 'theme-one'}}
            {{>themeone}}
          {{/if}}
          {{#if equals Theme 'theme-two'}}
            {{>themetwo}}
          {{/if}}
          {{#if equals Theme 'theme-three'}}
            {{>themethree}}
          {{/if}}
        {{/each}}
      </page>
      <!-- <page size="A4" id="" class="{{#each theme}}{{Theme}}{{/each}} new-page">
        <div class="experience">
            <p class="heading">Experience</p>
            {{#each work}}
              <p class="normal">
                <span class="company">{{Company}}</span> <br>
                {{Title}} <span class="date">{{Start}} - {{End}}</span><br>
                {{Description}}
              </p>
            {{/each}}
        </div>
        <div class="interest">
          <p class="heading">Interest & Hobbies</p>
          <p class="normal">
            {{#each personal}}
              {{InterestHobbies}}
            {{/each}}
          </p>
        </div>
        <div class="references">
          <p class="heading">References</p>
          {{#each references}}
            {{#if equals Ref 'References available upon request.'}}
              nope
            {{/if}}
            {{#if equals Ref ''}}
              <div class="seperate_ref">
                <p>
                  <span class="type">{{Type}} Reference</span><br>
                  <span class="name">{{Name}}</span><br>
                  {{Job}}<br>
                  {{Company}}<br>
                  {{Phone}}<br>
                  {{Email}}<br>
                </p>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </page> -->
    </div>
  </div>
</template>
