<template name="finish">
  {{>basichead}}
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="text-top">
          <h3>You're Done!</h3>
          <p>Well done, you’ve created your CV.<br>
You can start sending the CV off and start applying for jobs.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <span id="tips">
Well done! You’ve completed your CV, now you can look for work opportunities with your amazing new CV. Stand out from the crowd of plain, bland CV’s.        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="box">
          {{#each personal}}
            <h3>Congratulations, {{FirstName}}!</h3>
          {{/each}}
          <p>Your CV is ready to be sent to employers</p>
          {{#each themes}}
            {{#if equals Theme 'theme-one'}}
              <img src="img/themes/themeone.png" data-retina="img/themes/themeone@2x.png" width="130" height="150" alt="">
            {{else if equals Theme 'theme-two'}}
              <img src="img/themes/themetwo.png" data-retina="img/themes/themetwo@2x.png" width="130" height="150" alt="">
            {{else if equals Theme 'theme-three'}}
              <img src="img/themes/themethree.png" data-retina="img/themes/themethree@2x.png" width="130" height="150" alt="">
            {{/if}}

          {{/each}}

            <a href="{{pathFor route='final'}}">View / Download / Share</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <a href="{{pathFor route='home'}}" class="home">return to home</a>
      </div>
    </div>
  </div>



</template>
