<template name="nav">
  <div class="col-lg-7 col-lg-offset-2">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Knowledge Centre</a></li>
        {{#if currentUser}}
            <li><a href="{{pathFor route='personalDetails'}}">{{email}}</a></li>
            <li><a href="#" class="logout">Logout</a></li>
        {{else}}
          <li class="login"><a href="{{pathFor route="login"}}">login</a></li>
          <li class="create"><a href="#">create a cv</a></li>
        {{/if}}
      </ul>
    </nav>
  </div>
</template>

<template name="basichead">
  <div class="container-fluid" id="basic-header">
    <div class="container header">
      <div class="col-lg-4 col-lg-offset-4">
        <img src="img/logo/logo-color.png" data-retina="img/logo/logo-color@2x.png" alt="" width="210">
      </div>
    </div>
    <div class="container mobile-view">
      <div class="row">
        <div class="col-lg-12">
          <img src="img/icons/smartphone.png" data-retina="img/icons/smartphone@2x.png" width="33" height="39" alt="">
          <h3>This application doesn't support smaller devices</h3>
          <p>To ensure you are productive and work efficiently we have disabled the mobile version of this application.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="footer">
  <div class="container-fluid footer">
    <div class="container">
      <div class="col-lg-5">
        <h3>Links</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Knowledge Center</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Create a CV</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Feedback</a></li>
          <li><a href="#">Tutorial</a></li>
          <li><a href="#">Help & Tips</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-lg-offset-4 right">
        <img src="img/logo/logo.png" data-retina="img/logo/logo@2x.png" alt="" width="210">
        <p>An easy to use CV creation tool, helping you land your dream job or internship!</p>
      </div>
    </div>
  </div>
</template>

<template name="home">
  <div id="home">
    <div class="top container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <img src="img/logo/logo.png" alt="CV-BLDR LOGO">
          </div>
          {{>nav}}
        </div>
        <div class="row">
          <div class="col-lg-4 sub-desc">
            <h2>Create a CV that represents you</h2>
            <p>Land the job or internship of your dreams,<br>
              use CV-BLDR to create a professional yet<br>
              visually stimulating CV to represent you and your<br>
              career. Get started today!</p>
              <span>Free to use forever, no payment required</span><br>
              <a href="#" class="create">Create a CV</a>
          </div>
        </div>
        <div class="row top-arrow">
          <div class="col-lg-2 col-lg-offset-5">
            <a href="#main-three" class="arw-down"><img src="img/icons/arw-down.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid sub-three" id="main-three">
      <div class="row">
        <div class="col-lg-4 minutes">
          <img src="img/icons/clock.png" data-retina="img/icons/clock@2x.png" alt="">
          <h3>Create a CV in minutes</h3>
          <p>All you have to do is enter your <br>
            details and choose from a number<br>
             of themes and you’re finished!</p>
        </div>
        <div class="col-lg-4 star">
          <img src="img/icons/star.png" data-retina="img/icons/star@2x.png" alt="">
          <h3>Stand out from the crowd</h3>
          <p>Don’t apply with a plain CV,<br>
            create a visually stimulating CV <br>
            helping you stand out from the crowd.</p>
        </div>
        <div class="col-lg-4 help">
          <img src="img/icons/help.png" data-retina="img/icons/help@2x.png" alt="">
          <h3>Helpful tips every step of the way</h3>
          <p>Prompts will assist you every step<br>
             of the way. Let us help you create<br>
             an amazing CV.</p>
        </div>
      </div>
    </div>
    <div class="container home-text">
      <div class="row">
        <div class="col-lg-12">
          <h2>Let us help you</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 left">
          <p>CV-BLDR was created as a web application with the aim to help users build impressive CV’s without the hassle of using advanced desktop applications. Our aim is to let users create a professional CV without having the hassle of knowing how to create one.</p>
        </div>
        <div class="col-lg-6 right">
          <p>Our application only requires users to enter the data they wish to have on their CV, we then let users choose from a number of themes they can use to impress employers and leave a standing impression on them. </p>
        </div>
      </div>
      <div class="row help">
        <div class="col-lg-4 col-lg-offset-4">
          <p>Let us help you land the <br>
             job or internship of your dreams</p>
          <a href="#">Learn more</a>
        </div>
      </div>
    </div>
    <div class="container-fluid screen">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <h2>Get interviews today</h2>
            <p>Use our application and get interviews today, don’t let the CV creation process discourage you from applying to your dream job or internship. Impress potential employers with a unique, professional and visually stimulating CV. Stand out from the crowds of applicants and get an interview opportunity today.</p>
            <a href="#">get started</a>
          </div>
          <div class="col-lg-6 col-lg-offset-1">
            <img src="img/home/screenshot.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid cta-home">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <p>We don’t charge anything for our application, <br>
              we take pride in helping users land their dream<br>
              job or internship.</p>
          </div>
          <div class="col-lg-3 col-lg-offset-5">
            <a href="#">impress employers today</a>
          </div>
        </div>
      </div>
    </div>
    {{>footer}}
  </div>
</template>
