<template name="shortnav">
  <ul class="bottom-nav">
    <li><a href="{{pathFor route="home"}}">home</a></li>
    <li><a href="#">about</a></li>
    <li><a href="#">knowledge center</a></li>
    <li><a href="#">create a cv</a></li>
  </ul>
</template>

<template name="stepcount">
  <div class="step-count">
    <h4>Step 1: Register</h4>
    <ul>
      <li class="first"></li>
      <li class="second"></li>
      <li class="third"></li>
      <li class="fourth"></li>
      <li class="fifth"></li>
    </ul>
  </div>
</template>

<template name="register">
  {{>basichead}}
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="text-top">
          <h3>You need to create an account first</h3>
          <p>Don’t worry your details are safe with us, <br>
  we don’t share or sell any of your details with anyone.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <span id="i" class="invisible"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="login-register-box">
          <h2>Register</h2>
          <form class="register">
            <p><label for="email">e-mail</label><br>
              <input type="email" name="email" id="email"></p>
              <p class="pass"><label for="password">password</label><br>
                <input type="password" name="password" id="password">
                <input type="checkbox" name="password-view" value="password-view" id="password-view"><label for="password-view"></label></p>
              <input type="submit" value="register">
          </form>
        </div>
        {{>stepcount}}
        {{>shortnav}}
      </div>
    </div>
  </div>




</template>

<template name="login">
  {{>basichead}}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <span id="i" class="invisible"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="login-register-box">
          <h2>Login</h2>
          <form class="login">
              <p><label for="email">e-mail</label><br>
                <input type="email" name="email" id="email"></p>
              <p class="pass"><label for="password">password</label><br>
                <input type="password" name="password" id="password">
                <input type="checkbox" name="password-view" value="password-view" id="password-view"><label for="password-view"></label>
              </p>
              <a href="{{pathFor route="ForgotPassword"}}" class="forgot-pass">Forgot your password?</a>
              <input type="submit" value="sign in">
          </form>

          <hr>
          <p class="new">
            new to CV-BLDR?
          </p>
          <a href="#" class="start">get started</a>
        </div>
        {{>shortnav}}
      </div>
    </div>
  </div>
</template>

<template name="ForgotPassword">
      {{>basichead}}
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
            <div class="login-register-box">
              <h2>Forgot your password?</h2>
              <p>
                <label for="forgotPasswordEmail">Email</label>
                <input id="forgotPasswordEmail" type="text" name="email" placeholder="Email Address">
              </p>
              <input class="btn-submit" type="submit" value="Reset Password">
            </div>
          </div>
        </div>
      </div>
</template>

<template name="ResetPassword">

    {{#if resetPassword}}
    <form action="/reset-password"  id="resetPasswordForm" method="post">
        <input id="resetPasswordPassword" name="password" placeholder="New Password" type="password" >
        <input id="resetPasswordPasswordConfirm" name="password-confirm" placeholder="Confirm" type="password" >
        <input class="btn-submit" type="submit" value="Reset">
    </form>
    <!-- end #reset-password-form -->
    {{/if}}

</template>
