<template name="remlogout">
  <div class="row bottom_logout">
    <div class="col-lg-10 col-lg-offset-1">
      <a href="#" class="logout">want to leave? don’t worry we’ll save your progress</a>
    </div>
  </div>
</template>

<template name="personalDetails">
  {{>basichead}}
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="text-top">
          <h3>Enter your personal details</h3>
          <p>Enter your personal details so employers can know your<br>
contact information in the case they need to contact you.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <span id="tips">
          This information will be at the top of your CV, make sure your about section is short but informative. Use this area to show employers your career goals and what you are doing to pursue the career of your dreams.
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="box">
          <h3>Personal Details</h3>
          <p class="half left">
            <label for="fname">First Name</label>
            <input type="text" name="fname" id="fname" required>
          </p>
          <p class="half right">
            <label for="lname">Last Name</label>
            <input type="text" name="lname" id="lname" required>
          </p>
          <p class="full">
            <label for="phone">Phone</label>
            <input type="text" name="phone" id="phone" required>
          </p>
          <p class="half left">
            <label for="postcode">Postcode</label>
            <input type="text" name="postcode" id="postcode" required>
          </p>
          <p class="half right">
            <label for="houseno">House No</label>
            <input type="text" name="houseno" id="houseno" required>
          </p>
          <p class="full">
            <label for="address">Address Line</label>
            <input type="text" name="address" id="address" required>
          </p>
          <p class="full">
            <label for="about">About</label>
            <textarea name="about" id="about" maxlength="400" rows="10" cols="70" required></textarea>
            <p class="characters">Characters left <span id="counta"></span></p>
          </p>
          <p class="full">
            <label for="interest">Hobbies & Interests:</label>
            <textarea name="interest" id="interest" rows="10" cols="70" maxlength="400" required></textarea>
            <p class="characters">Characters left <span id="counti"></span></p>
          </p>
          <div class="clear"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
          <input type="submit" value="continue" id="continue" required>
        </div>
      </div>
      {{>stepcount}}
      {{>remlogout}}
    </div>
  </div>
</template>
