<template name="references">
  {{>basichead}}
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="text-top">
          <h3>Enter your education</h3>
          <p>Enter the details for any formal education you <br>
have recieved, high school, college & university.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <span id="tips">
References are important to employers, it could be the deciding factor on choosing you over another applicant. If you are still in education or have recently just left education be sure to add an academic reference.
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <div class="box">
          <h3>References</h3>
          <p class="full chkbox">
            <input class="checkbox" id="noref" type="checkbox" value="noref">
            <label for="noref">References available upon request</label>
          </p>
          <p class="half left rdo">
            <input type="radio" name="type" id="academic" value="Academic">
            <label for="academic">Academic</label>
          </p>
          <p class="half right rdo">
            <input type="radio" name="type" id="employer" value="Employer">
            <label for="employer">Employer</label>
          </p>
          <p class="full">
            <label for="fullname">Full Name</label>
            <input type="text" name="fullname" id="fullname">
          </p>
          <p class="half left">
            <label for="company">Company</label>
            <input type="text" name="company" id="company">
          </p>
          <p class="half right">
            <label for="jtitle">Job Title</label>
            <input type="text" name="jtitle" id="jtitle">
          </p>
          <p class="full">
            <label for="phone">Phone Number</label>
            <input type="text" name="phone" id="phone">
          </p>
          <p class="full">
            <label for="email">Email Address</label>
            <input type="text" name="email" id="email">
          </p>
          <input type="submit" value="add reference" id="addref" class="inner-button">
          <div class="clear"></div>
        </div>
      </div>
      <div class="col-lg-4 col-lg-offset-1">
        <div class="sidebar">
          <ul class="side-list">
            {{#each references}}
              {{#if equals Ref ''}}
                <li class="{{Type}}">{{Name}}</li>
              {{/if}}
              {{#if equals Ref 'References available upon request.'}}
                <li>Reference available on request</li>
              {{/if}}
            {{/each}}
          </ul>
          <input type="submit" value="continue" id="continue">
        </div>
      </div>
    </div>
    {{>stepcount}}
    {{>remlogout}}
    {{>back}}
  </div>


</template>
