<template name="skills">
  {{>basichead}}
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="text-top">
          <h3>Enter your qualifications and skills</h3>
          <p>Enter any qualifications you have recieved and <br>
any soft and hard skills you have which will attract employers.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <span id="tips">
Do you have any qualifications? Perhaps a Duke of Edinburough award or a Health & Safety certificate. We all have skills, use this area to add soft skills you have. These often include punctuality, organised etc..        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <div class="box">
          <h3>Qualifications and Skills</h3>
          <p>Is it a qualification or a skill?</p>
          <label>
            <input type="radio" name="type" id="qualification" value="qualification">
            <div class="radio-image">
              <img src="img/icons/qualification.png" data-retina="img/icons/qualification@2x.png" width="78" height="71" alt="">
              <p><span>Qualifications</span><br>
                a certificate you <br>
                might have recieved
              </p>
            </div>
          </label>
          <label>
            <input type="radio" name="type" id="skill" value="skill">
            <div class="radio-image">
              <img src="img/icons/skill.png" data-retina="img/icons/skill@2x.png" width="78" height="71" alt="">
              <p><span>Skills</span><br>
                any skill you have. <br>
                Eg. Time Management
              </p>
            </div>
          </label>
          <p>
            <label for="qtitle">Title</label>
            <input type="text" name="title" id="qtitle" required>
          </p>
          <input type="submit" value="add" id="addskill" class="inner-button">
        </div>
      </div>
      <div class="col-lg-4 col-lg-offset-1">
        <div class="sidebar">
          <ul class="side-list">
            {{#each skills}}
              <li class="{{Type}}">{{Title}}</li>
            {{/each}}
          </ul>
          <input type="submit" value="continue" id="continue">
        </div>
      </div>
    </div>
    {{>stepcount}}
    {{>remlogout}}
    {{>back}}
  </div>



</template>
