<template name="themes">
  {{>basichead}}
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="text-top">
          <h3>Choose a theme</h3>
          <p>Choose from a number<br>
of different themes</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <span id="tips">
Choose a theme that represents your personality, or a theme that matches the career you wish to be apart of. Any of these will help you stand out from the crowd of plain CV’s.        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="box">
          <h3>Themes</h3>
          <form name="themesOptions">
            <ul class="theme-options">
              <li>
                <label>
                  <p>Basic</p>
                  <input type="radio" name="theme" id="1" value="theme-one">
                  <div class="radio-image">
                    <img src="img/themes/themeone.png" data-retina="img/themes/themeone@2x.png" width="130" height="150" alt="">
                  </div>
                </label>
              </li>
              <li>
                <label>
                  <p>Modern</p>
                  <input type="radio" name="theme" id="2" value="theme-two">
                  <div class="radio-image">
                    <img src="img/themes/themetwo.png" data-retina="img/themes/themetwo@2x.png" width="130" height="150" alt="">
                  </div>
                </label>
              </li>
              <li>
                <label>
                  <p>Bold</p>
                  <input type="radio" name="theme" id="3" value="theme-three">
                  <div class="radio-image">
                    <img src="img/themes/themethree.png" data-retina="img/themes/themethree@2x.png" width="130" height="150" alt="">
                  </div>
                </label>
              </li>
            </ul>


          </form>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <input type="submit" value="finish" id="choose" class="finish">
      </div>
    </div>
    {{>stepcount}}
    {{>remlogout}}
    {{>back}}
  </div>
</template>
