// CSS to set page size to a4
page[size="A4"] {
  width: 21cm;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  &.theme-one{
    background:#fff;
    font-family: $open-sans;
    .heading{
      font-family: $noto-serif;
      font-size:21px;
      text-align: left;
    }
    .details_theme{
      padding:20px 20px 0;
      p{
        text-align: center;
        font-family:$noto-serif;
        line-height: 26px;
      }
    }
    .about_theme{
      padding:10px 30px 0;
      .normal{
        font-size: 14px;
        line-height: 24px;
        text-align: left;
      }
    }
    .education_theme{
      padding: 10px 30px 0;
      font-size: 14px;
      line-height: 24px;
      .seperate_ed{
        width:45%;
        float:left;
        padding-right:5%;
        span{
          &.school{
            font-size: 16px;
          }
          &.course{

          }
        }
      }
    }
    .skills_theme{
      padding:30px 30px 0;
      ul{
        -moz-column-count: 2;
        -moz-column-gap: 60px;
        -webkit-column-count: 2;
        -webkit-column-gap: 60px;
        column-count: 2;
        column-gap: 0;
        line-height: 24px;
        list-style: none;
        padding:0;
        li{
          font-size: 14px;
          font-family: $open-sans;
        }
      }
    }
    .experience_theme{
      padding:30px 30px 0;
      p{
        &.normal{
          font-size:14px;
          line-height:24px;
          span{
            &.company{
              font-size: 16px;
            }
            &.date{
              float:right;
            }
          }
        }
      }
    }
    .interest_theme{
      padding:20px 30px 0;
      p{
        &.normal{
          font-size:14px;
          line-height: 24px;
        }
      }
    }
    .references_theme{
      padding:20px 30px;
      .seperate_ref{
        width:45%;
        padding-right:5%;
        float:left;
        p{
          font-size:14px;
          line-height: 24px;
          span{
            &.type{
              font-family: 'Open-Sans-Semi';
            }
          }
        }
      }
    }
  }
}
@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
}
