// CSS to set page size to a4
page[size="A4"] {
  width: 21cm;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  &.theme-two{
    background:#fff;
    font-family: $tenor;
    .heading{
      font-family: $tenor;
      font-size:21px;
      text-align: left;
    }
    .details_theme{
      padding:50px 30px 0;
      p{
        span{
          font-size: 22px;
          font-family: $tenor;
        }
        text-align: left;
        font-size: 16px;
        line-height: 24px;
        font-family:$tenor;
        line-height: 26px;
      }
    }
    .about_theme{
      padding:20px 30px 0;
      .normal{
        font-family: $tenor;
        font-size: 14px;
        line-height: 24px;
        text-align: left;
      }
    }
    .education_theme{
      padding: 10px 30px 0;
      font-size: 14px;
      line-height: 24px;
      .seperate_ed{
        width:45%;
        float:left;
        padding-right:5%;
        font-family: $tenor;
        span{
          font-family: $tenor;
          &.school{
            font-size: 16px;
          }
          &.course{

          }
        }
      }
    }
    .skills_theme{
      padding:30px 30px 0;
      ul{
        -moz-column-count: 2;
        -moz-column-gap: 60px;
        -webkit-column-count: 2;
        -webkit-column-gap: 60px;
        column-count: 2;
        column-gap: 0;
        line-height: 24px;
        list-style: none;
        padding:0;
        li{
          font-size: 14px;
          font-family: $tenor;
        }
      }
    }
    .experience_theme{
      padding:30px 30px 0;
      p{
        font-family:$tenor;
        &.normal{
          font-size:14px;
          line-height:24px;
          margin: 0 0 30px;
          span{
            font-family: $tenor;
            &.company{
              font-size: 16px;
            }
            &.date{
              float:right;
            }
          }
        }
      }
    }
    .interest_theme{
      padding:0px 30px 0;
      p{
        font-family: $tenor;
        &.normal{
          font-size:14px;
          line-height: 24px;
        }
      }
    }
    .references_theme{
      padding:20px 30px 0;
      .seperate_ref{
        width:45%;
        padding-right:5%;
        float:left;
        p{
          font-family: $tenor;
          font-size:14px;
          line-height: 24px;
          span{
            &.type{
              font-family: $tenor;
            }
          }
        }
      }
    }
  }
}
@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
}
