ul.bottom-nav{
  list-style: none;
  padding:0;
  margin: 50px 0;
  li{
    float: left;
    font-size: 18px;
    font-weight: 600;
    padding:0 37px;
    &:first-child{
      padding-left:0;
    }
    &:last-child{
      padding-right: 0;
    }
    a{
      color:$text-blue;
    }
  }
}
