.footer{
  padding:110px 0;
  background-image: -webkit-linear-gradient(left, #4A90E2 9%, #72B3FF 98%);
  background-image: -o-linear-gradient(left, #4A90E2 9%, #72B3FF 98%);
  background-image: linear-gradient(to right, #4A90E2 9%, #72B3FF 98%);
  color:#fff;
  ul{
    list-style: none;
    padding:0;
    -moz-column-count: 2;
    -moz-column-gap: 80px;
    -webkit-column-count: 2;
    -webkit-column-gap: 80px;
    column-count: 2;
    column-gap: 80px;
    line-height: 28px;
    li{
      font-size: 16px;
      a{
        color:#fff;
      }
    }
  }
  .right{
    margin-top: 40px;
    img{
      margin:0 auto;
      display: block;
    }
    p{
      text-align: right;
      font-size: 16px;
      line-height: 28px;
      padding:10px 20px 0 0;
    }
  }
}
