.step-count{
  width:460px;
  padding:30px 0;
  color:#fff;
  margin:40px auto 0;
  border-radius: 8px;
  background-image: -webkit-linear-gradient(#565B68 2%, #414652 66%);
  background-image: -o-linear-gradient(#565B68 2%, #414652 66%);
  background-image: linear-gradient(#565B68 2%, #414652 66%);
  h4{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.4px;
    display: inline-block;
    padding: 0 40px;
  }
  ul{
    list-style: none;
    padding:0;
    float: right;
    margin:12px 40px 12px 0;
    li{
      float:left;
      width:14px;
      height: 14px;
      background: white;
      border-radius: 50%;
      border:1px solid #E3E3E3;
      margin: 0 10px;
      &.active{
        background:$lime-green;
        border-color: #B1C31D;
      }
      &:first-child{
        margin-left:0;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
}
