.final{
  .box{
    margin-top:40px;
    p{
      font-size:16px;
      margin:20px 0;
    }
    a{
      display:inline-block;
      width: 100%;
      text-align: center;
      padding:20px;
      border-radius: 4px;
      background:$button-blue;
      margin:15px 0;
      color:#fff;
      font-weight:600;
      &:hover{
        background:lighten($button-blue, 10%);
      }
      &#download{
        background: $button-lime;
        &:hover{
          background:lighten($button-lime, 10%);
        }
      }
      &#home{
        color:lighten($red, 10%);
        background:none;
        margin-top:30px;
        &:hover{
          color:#fff;
          background:lighten($red, 10%);
        }
      }
    }
  }
  .sidebar{
    height:835px;
  }
  #print{
    margin-top: 40px;
  }
}
