.finish{
  span{
    &#tips{
      background-color:$span-green;
    }
  }
  .box{
    p{
      font-size:24px;
      &.half{
        width:200px;
      }
      &.full{
        width:422px;
      }
    }
    img{
      display:block;
      margin:30px auto;
      border-radius: 4px;
      border:2px solid $banner-blue;
    }
  }
  .sidebar{
    height:835px;
  }
  a{
    width: 100%;
    display: inline-block;
    text-align: center;
    padding:20px 0;
    border-radius: 4px;
    background:$button-orange;
    color:#fff;
    font-weight:600;
    &:hover{
      background:lighten($button-orange, 10%);
    }
    &.home{
      margin:35px 0;
    }
  }
}
