#home{
  font-family:$proxima;
  .top{
    height:570px;
    background: url(img/home/hero.png);
    background-size: cover;
    padding:30px 0;
    color:#fff;
    nav{
      padding:10px 0 0;
      ul{
        list-style: none;
        float:right;
        li{
          float:left;
          font-weight:600;
          font-size:16px;
          padding:0 18px;
          &.login{
            padding:0;
            a{
              border:3px solid #fff;
              padding:16px 30px;
              margin-right:20px;
              border-radius:8px;
              &:hover{
                background: $button-blue;
                border-color:$button-blue;
              }
            }
          }
          &.create{
            padding:0;
            a{
              border:3px solid #fff;
              padding:16px 30px;
              border-radius: 8px;
              &:hover{
                background:$button-green;
                border-color:$button-green;
              }
            }
          }
          a{
            color:#fff;
            &:hover{
              //color:red;
            }
          }
          &:first-child{
            padding-left: 0;
          }
        }
      }
    }
    .sub-desc{
      margin:90px 0 0;
      h2{
        font-weight: 700;
        font-size: 22px;
        letter-spacing: 0.5px;
      }
      p{
        font-size: 14px;
        line-height: 20px;
      }
      span{
        font-size:12px;
        color:$span-grey;
        display:inline-block;
        margin:40px 0 10px;
      }
      a{
        &.create{
          padding:16px 30px;
          color:#fff;
          background:$button-green;
          border:1px solid $border-green;
          border-radius:4px;
          display: inline-block;
          &:hover{
            background:$border-green;
          }
        }
      }
    }
    .top-arrow{
      margin: 80px 0 0;
      img{
        margin:0 auto;
        display: block;
      }
    }
  }
  .sub-three{
    .minutes, .star, .help{
      padding:80px 150px;
      color:#fff;
      text-align: center;
      img{
        height:43px;
      }
      h3{
        font-weight: 600;
        font-size:18px;
        letter-spacing: 0.4px;
      }
      p{
        font-size: 16px;
        line-height: 24px;
      }
    }
    .minutes{
      background:$red;
    }
    .star{
      background:$dark-blue;
    }
    .help{
      background:$light-blue;
    }
  }
  .home-text{
    padding:80px 0 60px;
    color:$dark-blue;
    h2{
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 30px;
    }
    p{
      font-size: 16px;
      line-height: 28px;
    }
    .help{
      margin: 40px 0 0;
      text-align: center;
      a{
        font-size: 16px;
        color: $link-blue;
        &:hover{
          color:$border-blue;
        }
      }
    }
  }
  .screen{
    border-top:5px solid $light-grey;
    padding: 100px 0 0;
    color:$dark-blue;
    h2{
      background: -webkit-linear-gradient(-134deg, #418ABD 0%, #75C6FF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size:20px;
      font-weight: 600;
      margin:80px 0 40px;
    }
    p{
      font-size: 16px;
      line-height: 28px;
    }
    a{
      padding:15px 40px;
      background:$button-green;
      color:#fff;
      border-radius: 4px;
      display: inline-block;
      margin:20px 0 0;
      &:hover{
        background: $border-green;
      }
    }
  }
  .cta-home{
    padding:70px 0;
    background:$lime-green;
    color:#fff;
    p{
      font-size: 16px;
      line-height: 28px;
      margin:0;
    }
    a{
      font-weight: 600;
      font-size: 16px;
      color:#fff;
      background:$button-orange;
      border:1px solid $border-orange;
      border-radius: 4px;
      padding:20px 40px;
      display: inline-block;
      margin:10px 0 0;
      &:hover{
        background:$border-orange;
      }
    }
  }
}
