.steps{
  background:$background-grey;
  &.forgot{
    .login-register-box{
      margin-top:50px;
    }
  }
  .text-top{
    text-align: center;
    color:$dark-blue;
    margin:60px 0 0;
    h3{
      font-size: 24px;
      font-weight: 600;
      margin-bottom:25px;
    }
    p{
      line-height: 20px;
    }
  }
  span#i{
    display: inline-block;
    width: 100%;
    padding:20px 40px;
    background: $red;
    color:#fff;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    border-radius: 4px;
    text-align: center;
    &.extra{
      margin:20px 0 30px;
    }
  }
  .login-register-box{
    background:#fff;
    padding:40px 110px 80px;
    border: 4px solid #F4F4F4;
    box-shadow: 0 3px 24px 0 rgba(0,0,0,0.04);
    border-radius: 8px;
    h2{
      font-size:24px;
      font-weight:600;
      margin-bottom: 32px;
    }
    a{
      &.start{
        text-align: center;
        color:#fff;
        background:$button-orange;
        display: inline-block;
        width: 100%;
        border-radius: 4px;
        padding:16px 0;
        &:hover{
          background: $border-orange;
        }
      }
      &.forgot-pass{
        margin:20px 0;
        display: inline-block;
        font-style: italic;
      }
    }
    p{
      margin-bottom: 30px;
      &.new{
        text-align: center;
        color: $text-blue;
      }
      label{
        font-weight:400;
        font-size: 16px;
        letter-spacing: 0.4px;

      }
      input{
        border:2px solid $border-grey;
        border-radius: 4px;
        width: 320px;
        font-size: 16px;
        padding:6px 4px;
        &:focus{
          outline:none;
          border-color: #4785B0;
          transition: $transition;
        }
      }
      &.pass{
        margin-bottom: 0;
        input{
          width:260px;
          &[type="checkbox"]{
            display:none;
            + label{
              cursor: pointer;
              float:right;
              background-color:#fff;;
              background-image: url('img/icons/eye.png');
              background-repeat: no-repeat;
              background-position: center;
              height: 27px;
              width: 27px;
              display:inline-block;
              padding: 17px 18px;
              border-radius: 4px;
              border:2px solid #fff;
              transition:$transition;
            }
            &:checked{
              + label{
                border-color: $dark-blue;
              }
            }
          }
        }
      }
    }
    input{
      &[type="submit"]{
        background:#fff;
        font-weight:600;
        color:$button-lime;
        border:2px solid $button-lime;
        border-radius:4px;
        width: 320px;
        padding:12px 0;
        &:hover{
          transition:$transition;
          background:$button-lime;
          color: #fff;
        }
        &:focus{
          outline: none;
        }
      }
    }
    hr{
      width:180px;
      border-top:3px solid #F4F4F4;
      margin:40px auto;
    }
  }
}
