.references{
  .box{
    p{
      &.half{
        width:200px;
      }
      &.full{
        width:422px;
      }
      &.rdo{
        input{
          width:auto;
          float:left;
        }
        label{
          padding:1px 25px;
        }
      }
      &.chkbox{
        .checkbox {
          position: absolute; // take it out of document flow
          opacity: 0; // hide it
          & + label {
            position: relative;
            cursor: pointer;
            padding: 0;
          }

          // Box.
          & + label:before {
            content: '';
            margin-right: 10px;
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            background: white;
            border:2px solid $border-grey;
            border-radius:4px;
          }

          // Box hover
          &:hover + label:before {
            background: $banner-blue;
            border-color:$banner-blue;
            transition:$transition;
          }

          // Box checked
          &:checked + label:before {
            background: $royal-blue;
            border-color:$royal-blue;
            transition:$transition;
          }

          // Disabled state label.
          &:disabled + label {
            color: #b8b8b8;
            cursor: auto;
          }

          // Disabled box.
          &:disabled + label:before {
            box-shadow: none;
            background: #ddd;
          }

          // Checkmark. Could be replaced with an image
          &:checked + label:after {
            content: '';
            position: absolute;
            left: 5px;
            top: 11px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow:
              2px 0 0 white,
              4px 0 0 white,
              4px -2px 0 white,
              4px -4px 0 white,
              4px -6px 0 white,
              4px -8px 0 white;
            transform: rotate(45deg);
          }
        }
      }
    }
  }
  .sidebar{
    height:810px;
  }
}
