.skills{
  .box{
    label{
      margin:16px 2px;
      & > input{
        visibility: hidden;
        position: absolute;
        + .radio-image{
          cursor:pointer;
          border-radius: 4px;
          border:2px solid transparent;
          padding:20px;
          color:$dark-blue;
          min-width: 205px;
          p{
            font-size:14px;
            font-weight: 400;
            text-align: center;
            span{
              font-weight:600;
            }
          }
          img{
            margin:10px auto;
            display: block;
          }
        }
        &:checked{
          + .radio-image{
            border:2px solid $banner-blue;
            background: $background-grey;
          }
        }
      }
    }
    p{
      &.half{
        width:200px;
      }
      &.full{
        width:422px;
      }
    }
  }
  .sidebar{
    height:650px;
    ul.side-list{
      height:540px;
      overflow: scroll;
      overflow-x: hidden;
      padding-right:10px;
      li{
        &.skill{
          border-color: $button-orange;
          &:hover{
            border-color:lighten($red, 20%);
          }
          &:active{
            border-color:darken($red, 20%);
          }
        }
      }
    }
  }
}
