.themes{
  .box{
    ul{
      &.theme-options{
        padding:0;
        list-style: none;
        li{
          float:left;
          margin:0 27px;
          &:first-child{
            margin-left:0;
          }
          &:last-child{
            margin-right:0;
          }
          label{
            margin:16px 2px;
            p{
              font-weight: 400;
              font-size: 16px;
              color:$dark-blue;
              text-align: center;
            }
            & > input{
              visibility: hidden;
              position: absolute;
              + .radio-image{
                cursor:pointer;
                border-radius: 4px;
                border:2px solid transparent;
                color:$dark-blue;
                img{
                  margin:0 auto;
                  display: block;
                }
              }
              &:checked{
                + .radio-image{
                  border:2px solid $banner-blue;
                  background: $background-grey;
                }
              }
            }
          }
        }
      }
    }
    p{
      &.half{
        width:200px;
      }
      &.full{
        width:422px;
      }
    }
  }
  input{
    &.finish{
      color:#fff;
      background:$button-lime;
      border-radius: 8px;
      border:none;
      width: 100%;
      padding:25px 0;
      font-weight: 600;
      font-size: 16px;
      margin:35px 0 0;
      &:hover{
        background: darken($button-lime, 5%);
      }
    }
  }
  .sidebar{
    height:835px;
  }
}
