@font-face {
  font-family: 'Noto-Serif';
  src: url('../fonts/Noto_Serif/NotoSerif-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Open-Sans';
  src:  url('../fonts/Open_Sans/OpenSans-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Open-Sans-Semi';
  src:  url('../fonts/Open_Sans/OpenSans-Semibold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Tenor';
  src:  url('../fonts/Tenor/TenorSans-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Archivo';
  src:  url('../fonts/Archivo/ArchivoBlack-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Cardo';
  src:  url('../fonts/Cardo/Cardo-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Cardo-Bold';
  src:  url('../fonts/Cardo/Cardo-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Cardo-Italic';
  src:  url('../fonts/Cardo/Cardo-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Pathway';
  src:  url('../fonts/Pathway/PathwayGothicOne-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style:   normal;
  font-weight:  400;
}



/* Proxima Nova */
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima/ProximaNova-Black.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Proxima/ProximaNova-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Proxima/ProximaNova-Black.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Proxima/ProximaNova-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Proxima/ProximaNova-Black.svg#5216c1cacb478b35a513d81c80dc8ad7') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  900;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima/ProximaNova-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Proxima/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Proxima/ProximaNova-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Proxima/ProximaNova-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Proxima/ProximaNova-Bold.svg#d1e00a8fb1fd9b428ab6b90409479fde') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima/ProximaNova-BoldIt.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Proxima/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Proxima/ProximaNova-BoldIt.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Proxima/ProximaNova-BoldIt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Proxima/ProximaNova-BoldIt.svg#79a8a351bd63dc8113108df914d9fe32') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima/ProximaNova-Extrabold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Proxima/ProximaNova-Extrabold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Proxima/ProximaNova-Extrabold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Proxima/ProximaNova-Extrabold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Proxima/ProximaNova-Extrabold.svg#131ef5652291f8dc4bd914210809df02') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  800;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima/ProximaNova-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Proxima/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Proxima/ProximaNova-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Proxima/ProximaNova-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Proxima/ProximaNova-Light.svg#da6ddaf3cf69afbba47bd74b5010b98d') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima/ProximaNova-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Proxima/ProximaNova-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Proxima/ProximaNova-LightItalic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Proxima/ProximaNova-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Proxima/ProximaNova-LightItalic.svg#1a04ccc617b24808e8115891ca97cce8') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  200;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima/ProximaNova-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Proxima/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Proxima/ProximaNova-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Proxima/ProximaNova-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Proxima/ProximaNova-Regular.svg#2c1459d58560f08b4b0586fbe80aa4cd') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima/ProximaNova-RegularItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Proxima/ProximaNova-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Proxima/ProximaNova-RegularItalic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Proxima/ProximaNova-RegularItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Proxima/ProximaNova-RegularItalic.svg#77f1c682604b6b0472d490a8e6c22d18') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima/ProximaNova-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Proxima/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Proxima/ProximaNova-Semibold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Proxima/ProximaNova-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Proxima/ProximaNova-Semibold.svg#67a6c9f6d7dc8f35ecb08de766ea56f0') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  600;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima/ProximaNova-SemiboldItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Proxima/ProximaNova-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Proxima/ProximaNova-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Proxima/ProximaNova-SemiboldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Proxima/ProximaNova-SemiboldItalic.svg#507561f3ade737ab57270dba6021e34c') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  600;
}
