*{font-family: $proxima;}

input, textarea{
  transition: $transition;
  &:focus{
    outline: none;
  }
  &[type="submit"]{
    &:active{
      transform: translateY(4px);
    }
  }
}

a{
  &:hover{
    transition:$transition;
  }
  &:focus, &:active, &:hover{
    text-decoration: none;
  }
}

.visibile{display:block;}
.invisible{display: none;}
.clear{clear:both;}


.personal, .experience, .education, .skills, .references, .themes, .finish, .final{
  background:$background-grey;
  color:$dark-blue;
  .text-top{
    margin:40px 0 0;
    text-align: center;
    h3{
      font-size:24px;
      font-weight:600;
      margin-bottom:20px;
    }
  }
  span{
    &#tips{
      background:$banner-blue;
      color:#fff;
      display: inline-block;
      padding:20px 40px;
      line-height: 24px;
      border-radius: 4px;
      margin:20px 0 40px;
      min-width: 100%;
    }
  }
  .box{
    background:#fff;
    padding:40px 110px 80px;
    border: 4px solid #F4F4F4;
    box-shadow: 0 3px 24px 0 rgba(0,0,0,0.04);
    border-radius: 8px;
    h3{
      //margin:30px 0;
      font-size: 24px;
      font-weight: 600;
    }
    input{
      &.inner-button{
        background:$button-orange;
        color:#fff;
        font-size:14px;
        border:none;
        width:100%;
        border-radius: 4px;
        padding:20px 0;
        margin:20px 0 0;
        &:hover{
          background:$border-orange;
        }
      }
    }
    p{
      &.characters{
        font-size:14px;
        text-align: right;
        span{
          font-weight:600;
          color:$red;
        }
      }
      &.half, &.full{
        margin:30px 0 0;
      }
      &.half{
        width:230px;
        height: auto;
        &.left{float:left;}
        &.right{float:right;}
      }
      &.full{
        height: auto;
        width:520px;
        float:left;
        input{
          width:100%;
        }
      }
      label{
        display: block;
        font-weight: 400;
        font-size: 16px;
      }
      input{
        padding:10px 20px;
        border:2px solid $border-grey;
        border-radius: 4px;
        font-size: 16px;
        color:$input-grey;
        width:100%;
        &:focus{
          border-color:$banner-blue;
        }
      }
      input[disabled]{
        background:#fbfbfb;
      }
      textarea{
        border:2px solid $border-grey;
        resize:none;
        font-size: 14px;
        color:$input-grey;
        line-height: 20px;
        width:100%;
        height:160px;
        border-radius:4px;
        padding:6px 8px;
        &:focus{
          border-color: $banner-blue;
        }
      }
    }
  }
  input{
    &#continue{
      color:$button-orange;
      background:#fff;
      border:4px solid $button-orange;
      border-radius: 8px;
      font-size:16px;
      font-weight:600;
      padding:20px 65px;
      display: block;
      margin:40px auto 20px;
      &:hover{
        background:$button-orange;
        color:#fff;
      }
    }
  }
  .bottom_logout, .bottom_back{
    a{
      text-align: center;
      display:block;
      font-size: 18px;
      font-weight: 600;
      color:$link-grey;
      margin:40px 0;
      letter-spacing: 0.2px;
      &:hover{
        color:$text-blue;
      }
    }
  }
  .bottom_back{
    a{
      margin:0 0 15px;
      color:lighten($red, 20%);
      &:hover{
        color:darken($red, 10%);
      }
    }
  }
  .sidebar{
    position: relative;
    ul{
      &.side-list{
        padding:0;
        list-style: none;
        li{
          background: #FFFFFF;
          box-shadow: 0 1px 8px 0 rgba(0,0,0,0.06);
          border-radius: 4px;
          border-left: 6px solid $lime-green;
          padding:26px 30px;
          font-size:16px;
          font-weight: 600;
          letter-spacing: 0.2px;
          margin:20px 0;
          transition:$transition;
          &:first-child{
            margin-top:0;
          }
          &:last-child{
            margin-bottom:0;
          }
          &:hover{
            cursor: pointer;
            background:lighten($red, 30%);
            border-color:lighten($red, 20%);
          }
          &:active{
            background: $red;
            border-color:darken($red, 20%);
            color:#fff;
            transform: translateY(4px);
          }
        }
      }
    }
    input{
      &[type="submit"]{
        position: absolute;
        bottom:0;
        width: 100%;
      }
    }
  }
}
