// Fonts
$open-sans:      'Open-Sans', sans-serif;
$open-sans-semi: 'Open-Sans-Semi', sans-serif;
$noto-serif:     'Noto-Serif', serif;
$proxima:        'Proxima Nova', sans-serif;
$archivo:        'Archivo', sans-serif;
$tenor:          'Tenor', sans-serif;
$cardo:          'Cardo', sans-serif;
$cardo-bold:     'Cardo-Bold', sans-serif;
$cardo-italic:   'Cardo-Italic', sans-serif;
$pathway:        'Pathway', sans-serif;


// Colours
$button-green:   #88B04B;
$border-green:   #719935;
$button-blue:    #1F83C6;
$border-blue:    #0973BB;
$button-orange:  #FDB714;
$border-orange:  #E7A711;
$link-blue:      #75C6FF;
$span-grey:      #D7D7D7;
$background-grey:#F7F8FA;
$border-grey:    #E4E4E4;
$button-lime:    #BCCF24;
$seperate-grey:  #D7D5D5;
$text-blue:      #4785B0;
$banner-blue:    #94B1C5;
$input-grey:     #696969;
$link-grey:      #B6C2CA;
$span-green:     #9ACA20;

$red:            #E93647;
$dark-blue:      #31344B;
$light-blue:     #4990E2;
$royal-blue:     #2784c3;
$light-grey:     #F4F4F4;
$lime-green:     #C6D92D;



//Extra
$transition:     all 0.4s ease;
