$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;
/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
    .mobile-view{display: none;}
}
@media (max-width: $screen-sm-min) {
  .steps, .personal, .experience, .education, .skills, .references, .themes, .finish, .final{
    background:linear-gradient(to right, $red 9%, lighten($red, 10%) 98%);
    > div{
      display: none;
      &#basic-header{
        display: block;
        .header{
          display:none;
        }
        .mobile-view{
          display: block;
          text-align: center;
          padding:0 60px;
          color:$dark-blue;
        }
      }
    }
  }
}
